.colores{
    background-color: wheat;
  }
.formulario1{ /*formato del cuadrante 1*/
  float: left;
  margin-left:  390px;/*posecionar la caja1*/
  width: 350px;/*largo*/
  height: 355px;/*ancho*/
   }

.colores1{
  background-color: chocolate;/*color a el cuadrante del formulario*/
  }